/* style.css */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

:root {
  --accent-color: #59B34C;
}

.accent {
  color: var(--accent-color);
  font-weight: bold;
}

body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    margin-bottom: -20px;
    text-align: center;
    color: var(--accent-color);
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
}

h1:first-child + p {
    text-align: center;
}

h1 > a {
    color: inherit;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

h3 {
    margin: 15px;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--accent-color);
}

a {
    color: var(--accent-color);
}

a, a:visited, a:hover {
    text-decoration: none;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    clear: both;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.header {
    text-align: center;
    margin-top: 33.6px;
}

.header > h2 {
    margin: 15px;
    font-size: 1.5em;
    font-weight: 400;
    color:#BBBBBB;
}

@media only screen and (min-width: 700px) {
    .section {
        display: flex;
    }
}

.contents hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 20px 0px 20px;
}

.section > h2 {
    width: 40%;
    margin-left: 20px;
    float: left;
    margin-top: 5px;
    padding-top: 15px; 
}

.top > h2 {
    border-top: 0px;
}

.section h3 {
    font-size: 1.25em;
    display: inline;
    font-weight: 700;
    margin: 0px 5px 0px 0px;
    color: #777777;
}

#Projects h3 {
  display: block;
}

#Projects > ul > li:nth-last-child(n+2)  { /* all but last child */
  margin-bottom: 8px;
}

.section > ul {
    width: 60%;
    float: left;
    overflow-wrap: break-word;
}

.section > ul > li {
    margin: 2px;
}

li > ul {
    padding-left: 20px;
}

p {
    font-size: 1em;
    line-height: 1.25em;
    margin: 1.25em 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    padding: 5px 0;
    color:#BBBBBB;
}

.footer p {
    clear: both;
    margin: 3px;
    text-align: center;
}
