<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <meta name="author" content="Georgia Reh"/>

  <style>
    body { text-align: center; }
    .container { max-width: 700px; margin: 0 auto; text-align: left; }
    a, a:visited, a:hover { text-decoration: none; }
  </style>

  <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="container">
    <h1><a href="/">Georgia Reh</a></h1>
    <div style="margin: 20px 0; text-align:center;">I'm a mathematician. I build robots and climb rocks.</div>
    <hr>

    {{ content }}		

    <hr>
    </div>

    <div class="footer">
      <p>&copy; Copyright 2014 Georgia Reh</p>
      <p>Contact me via <a href="mailto:georgia.reh@gmail.com">email</a></p>
      <p>Template for blog pulled from <a href="http://kebno.github.io">kebno.github.io</a></p>
      <p>Design by <a href="http://willacton.com">Will Acton</a></p>
      <p>Follow my <a href="/feed.xml">RSS Feed</a></p>
    </div>
  </div>
  </body>
</html>
